*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Upper-section-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 40px;
    }

.Upper-section-navbar-side{
    display: flex;
    gap: 20px;
    
}

.Upper-section-navbar a{
    color: black;
    font-size: medium;
    text-decoration: none;
}

.Upper-section-navbar a:hover {
    color: #008d44;
  }

.Upper-section-green-section{
    display: flex;
    background-color:#008d44;
}
.Upper-section-green-section-image{
    padding: 5px 20px 0px 40px;
}
.Upper-section-green-section-input{
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
    width: 50%;
    border-radius: 100px;
    
}
#Upper-section-green-section-location{
    background-color: #00833f;
    border-radius: 20px;
    color: white;
    width: 74px;
    border-style: hidden;
    font-size: medium;
    
}

.Upper-section-green-section-input_search{
    border: 2px;
    border-radius: 20px;
    width: 40%;
   
    padding-left: 20px;
   
}


.Upper-section-green-section-customercare{
    display: inline;
    color: aliceblue;
    padding-top: 15px;
    font-size: 15px;
}

.Upper-section-green-section-whatsapp{
    color: white;
    padding-top: 25px;
    padding-right: 8px;
    
}

.Upper-section-green-section-callback{
    color: white;
    padding-top: 15px;
    font-size: 15px;
}

.Upper-section-green-section-Phonecallback{
    color: white;
    padding-top: 25px;
    padding-right: 8px;
    margin-left: 80px;
}

#Upper-section-green-section-dropdown-button{
   background-color: #008d44;
   color: white;
   margin-left: 100px;
   margin-top: 20px;
   border-color: white;
   border-radius: 20px;
   padding: 4px;
   border-style: hidden;
   cursor: pointer;
   font-size: large;
}

.Upper-section-navigation{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 50px;
    height: 40px;
}
.Upper-section-navigation-button1{
    margin-right: 30px;
}

.Upper-section-navigation-button2{
    margin-right: 30px;
}
.Upper-section-navigation-button3{
    margin-right: 30px;

}

.Upper-section-navigation-button4{
    margin-right: 30px;
}
.Upper-section-navigation-buttons{
    border-style: hidden;
    font-size: 13px;
}



.Upper-section-navigation-house{
    margin-right: 30px;
    font-size: 13px;
    
   
}

.Upper-section-navigation-house-image{
   width: 25px;
   padding-right: 5px;
}

.Upper-section-navigation-rx{
    margin-right: 30%;
    font-size: 13px;
}

.Upper-section-navigation-Rlogo{
    width: 25px;
    padding-right: 5px;
}
.Upper-section-navigation-right-section{
    margin-right: 50px;
    font-size: 13px;
}
 .Upper-section-navigation-icon{
    color: darkgrey;
    padding-right: 6px;
    

 }

 .Mid-section{
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
 }

 .Mid-section-button1{
    font-size: small;
    width: 70px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #008d44;
    color: white;
    border-style: hidden;
 }

 .Mid-section-button2{
    font-size: small;
    width: 70px;
    margin-left: 10px;
    border-style: hidden solid hidden hidden;
    background-color: white;
    
 }
 .Mid-section-button3{
    font-size: small;
    width: 70px;
    margin-left: 10px;
    border-style: hidden solid hidden hidden;
    background-color: white;
 }
 .Mid-section-button4{
    font-size: small;
    width: 100px;
    margin-left: 20px;
    border-style: hidden;
    background-color: white;
 }
 .Mid-section-button5{
    font-size: small;
    width: 100px;
    margin-left: 30px;
    border-style: solid;
    background-color: white;
    color:black;
    border-radius: 10px;
    border-color: #008d44;
 }
 .Mid-section-button5:hover{
    color: white;
    background-color: #008d44;
 }
 .Mid-section-para{
     font-size: medium;
     margin-left: 40px;
     margin-top: 20px;
}

.package-section-card-1{
    gap: 15px;
    align-items: center;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    border-style: inset;
    overflow: hidden;
    padding: 10px;
    margin-top: 40px;
    margin-left: 30px;
    
}



.package-section-card-1:hover{
    transform: scale(1.05);
}

.package-section-Card-image{
    position: block;
    width: 300px;
    height: 250px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    
}

.package-section-card-1 h3{
margin-left: 30px;
margin-top: 20px;
}

.package-card-section-butoon-one{
    margin-left: 115px;
    margin-top: 20px;
    background-color: #008d44;
    color: white;
    font-size: small;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border-style: hidden
   
}
.package-section-card-1-head{
    display: flex;
}

.package-section-card-1-head-button{
    margin-top: 20px;
    margin-left: 20px;
    border-style: hidden;
    font-size: medium;
    
    
}
.package-section-card-1-Cart-button{
    font-size: large;
    padding: 5px 80px;
    margin-left: 30px;
    margin-top: 5px;
    background-color: rgb(54, 151, 184);
    color: white;
    border-style: hidden;
}

.popular-card-section-butoon-one{
    margin-left: 115px;
   
    background-color: #008d44;
    color: white;
    font-size: small;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border-style: hidden
   
}
.popular-section-card{
    border: 3px solid #d3d3d3;
    border-style: inset;
    border-radius: 10px;
}

.popular-section-card-Upper{
     margin-top: 40px;
     display: flex;
     
}
.popular-section-image{
    
    margin-left: 30px;
}
.popular-section-card-button{
    margin-left: 225px;
   
    background-color: #008d44;
    color: white;
    font-size: small;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border-style: hidden
}

.popular-section-card h3, hr{
    margin-left: 30px;
    margin-top: 30px;
}

.popular-section-card-price{
    font-size: medium;
    margin-left: 30px;
}

.popular-section-card-button-Cart{
    font-size: medium;
    padding: 5px 80px;
    margin-left: 60px;
    margin-top: 5px;
    background-color: #5ad36e;
    color: white;
    border-radius: 10px;
    border-style: hidden;
}

.risk-section{
    display: flex;
    border: 4px solid hwb(120 42% 5%);
    
    border-style: ridge;
    border-right: hidden;
    border-radius: 5px;
    
}

.risk-section-image{
   
   margin-top: 30px;
    
   border-radius: 50%;
   width: 30%;
   background-color: #e0e0e0;
    margin-left: 90px
    
   
}
.risk-section h3{
    margin-left: 95px;
    margin-top: 20px;
}

.condition-section-image{
    margin-top: 30px;
    
   border-radius: 50%;
   width: 30%;
   background-color: #fceee1;
    margin-left: 90px
}
.Whyus-container{
    margin : 50px;

}

.Whyus-container-start{
    display: flex;
   background-image: url(https://www.metropolisindia.com/newdata/images/why-metrobg.png);
   background-size: cover;
}
.Whyus-container-inside{
    margin: 60px;
}
.Whyus-container p{
   font-size: medium;
   margin-top: 30px;
}

.Whyus-container-line{
    
    color: #021e99;
    width: 100px;
    
}
.forty-image{
    width: 300px;
    height: 350px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.labdiv-section-first{
   margin-top: 30px;
   padding-left: 50px
}
.labdiv-section-first-image{
    margin-left: 30px;
    width: 130px;
}

.labdiv-section-first h3{
    margin: 30px;
}

.conditions-section{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}

.conditions-section-Card{
    border: 3px solid hwb(120 42% 5%);
    border-style: ridge;
    margin-right: 30px;
    

}
.conditions-section-Card h3{
    margin-left: 75px;
    margin-top: 20px;
}

.News-Cards{
    margin-top: 40px;
}

.News-image{
   
    border: 3px ridge green;
    border-right: hidden;
    border-top: hidden;
    margin: 20px;
   }
.News-image p{
 margin-top: 30px;
}
   
.News-image a{
    margin-top: 20px;
}
.News-Card-Link{
   color: #008d44;
   text-decoration: none;
    
    
}

.our-apps-section{
    border: 3px solid #4abfe2;
    margin-top: 40px;
    display: flex;
    background-color: hwb(129 92% 1%);
}

.our-apps-section-image{
    margin-top: 10rem;
    margin-left: 40rem;
    width: 50%;
    
}
.our-apps-section-second{
    margin-top: 10rem;
}

.our-apps-section-text p{
    font-size: medium;
    margin-top: 40px;
}

.our-apps-section-button{
    font-size: medium;
    padding: 5px 20px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #5ad36e;
    color: white;
    border-radius: 10px;
    border-style: hidden;
}

.our-apps-section-more img{
    margin: 10px;
}
.Review-Section{
    margin-top: 70px;
    margin-left: 40px;
    
}

.Review-Section-Head h1{
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-bottom: 40px;
}
.Review-Section-Head p{
     font-size: large;
     margin-left: 650px;
     color: gray;
}

.Review-Section-Card{
    margin: 60px;

}

.Review-Card-Icon{
    display: flex;
    margin-top: 40px;
    margin-left: 180px;
    margin-bottom: 40px;
    
}

.Review-Card-Para{
    font-size: medium;
    
}

.Review-Card-Head{
    margin-top: 40px;
    margin-left: 170px;
}

.achievements-section{
    display: flex;
   
    background-image: url(https://www.metropolisindia.com/newdata/images/counter-background.png);
}
.achievements-section-first{
    margin-left: 250px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.Footer-section{
    margin-top: 80px;
    margin-left: 60px;
    
}
.Footer-section-top h1{
    padding-bottom: 20px;
}

.Footer-section-top p{
     font-size: medium;
     margin : 20px 0px 0px 
}

.Footer-section-top-Link{
     margin-top: 30px;
}

.Footer-section-container{
    display: flex;
}
.Footer-section-container-1{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 20px;
     margin-right: 20px;
}
.Footer-section-container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.Footer-section h3{
    margin-top: 30px;

}
.Footer-section-container a{
    
    text-decoration: none;
    color: gray;
    font-size:15px;
}

.Footer-section-container-card{
   display: flex;
}

.Footer-section-container-card-1{
    margin-left: 40rem;
}

.Footer-section-container-card-2{
     margin-left: 25rem;
}
.Footer-section-container-card-3{
    margin-left: 10rem;
}

.footer-section-subcribe{
    display: flex;
}

.footer-section-subcribe-get{
    display: flex;
}
.footer-section-subcribe-get img{
    width: 90px;
    margin-right: 10px;
}
.footer-section-subcribe h2{
    margin-top: 30px;
}
.footer-section-subcribe p{
    font-size: 14px;
    color: gray;
}

.footer-section-subcribe-follow{
     margin-left: 140px;
}

.footer-section-subcribe-follow h2{
    margin-bottom: 30px;
}

.footer-section-subcribe-follow-icon{
       margin-right: 20px;
       background-color: #008d44;
       color: white;
       border-radius: 10px;
       padding: 5px;
}

.footer-section-subcribe-Newsletter{
    margin-left: 300px;
}
.footer-section-subcribe-Newsletter button{
    font-size: 15px;
    padding: 8px;
    background-color: #008d44;
    color: white;
    border-style: hidden;
    margin-left: 10px;
    border-radius: 5px;
    width: 15rem;
       
}
.footer-section-subcribe-Newsletter input{
    margin-top: 30px;
    font-size: 15px;
    padding: 5px;
    width: 45rem;
    
    
}

.Award-Section-Head{
    margin-top: 60px;
    margin-left: 60rem;
}

.Award-Section-Head h1{
   
    margin-bottom: 20px;
}

.Award-Section-Head p{
    font-size: medium;
        
}

.Awards-Section-Card{
  margin: 60px;
}
.Awards-Section-Card img{
    width: 20rem;
    margin-left: 70px;
    margin-bottom: 40px;
}
.Awards-Section-Card {
    
    font-size: medium;
    
}

.Content-truehealth{
    background-color:  #f8f8f8;
}

.Content-truehealth button{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: hidden;
    font-size: 11px;
    color: grey;
    
}
.Content-truehealth-Card img{
    width: 1050px;
    margin: 5px;
}

.Content-truehealth-mid{
    margin-left:25%;
    margin-right:25%;
    margin-top:4%;
    margin-bottom: 8%;
}

.Content-truehealth-mid-top h2{
    margin-left: 39%;
    padding-top: 20px;
    padding-bottom: 10px;
}


.Content-truehealth-mid-top img{
    margin-left: 38%;
    padding-top: 20px;
    margin-bottom: 2%;
}

.Content-truehealth-mid-bottom{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.Content-truehealth-mid h3{
     margin-left: 15%;
     margin-bottom: 6%;
     margin-top :6%;
}
.Content-truehealth-mid-bottom img{
    width: 30rem;
    padding-top: 10%;
}
.Content-truehealth-mid-bottom-inside p{
    margin: 5%;
    font-size: small;
}
.Content-truehealth-mid-bottom-inside  h1{
    font-weight: 600;
    font-size: 16px;
    margin-left: 5%;
}
.Content-truehealth-Container-Card{
    margin-left: 25%;
    margin-right: 25%;
}

.Content-truehealth-Container-Card h1{
       padding-left: 18%;
}

.truehealth-Container-Card-1-para{
      padding-left: 21%;
      font-size: medium;
      margin-top: 20px;
      margin-bottom: 10%;
}
.truehealth-Container-Card-Row{
    display: flex;
    gap: 15px;
    
}

.cards-picture{
    width: 310px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.truehealth-Container-Card-1{
    border-radius: 10px;
    border: 1px solid #f7f7f7;
    overflow: hidden;
 
    
}
.truehealth-Container-Card-1 h2{
    padding-left: 10px;
    margin-top: 20px;
    color: #5ad36e;
    font-weight: 600;
}
.truehealth-Container-Card-1 h5{
    padding-left: 10px;
    margin-top: 15px;
    font-size: medium;
    color: #536a8d;
    font-weight: 600;
}
.truehealth-Container-Card-1-para-inside{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
.truehealth-Container-Card-1-inside{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

.truehealth-Container-Card-1-inside img{
     width: 35px;
}
.truehealth-Container-Card-1-inside p{
     font-size: small;
     padding-left: 25px;
     padding-top: 10px;
}
.truehealth-Container-Card-1-button-1{
    font-size: medium;
    width: 150px;
    margin-left: 15px;
    margin-top: 30px;
    border-style: solid;
    background-color: #5dccff;
    color:white;
    border-radius: 5px;
    border-style: hidden;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 20px;
    padding-left: 20px;

    
}
.truehealth-Container-Card-1-button-2{
    font-size: medium;
    width: 150px;
    margin-left: 15px;
    margin-top: 30px;
    border-style: solid;
    background-color: white;
    color:#77c9ff;
    border-radius: 5px;
    border-style: solid;
    border-color: #5dccff;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 20px;
    padding-left: 20px;
}
.truehealth-Container-Card-1-inside-2{
    display: flex;
}
.truehealth-Container-Card-Row{
    margin-top: 80px;
}

.truehealth-Container-Whyus-container{
    margin-top: 10rem;
    
   
}
.truehealth-Container-Whyus-container-start{
    display: flex;
   background-image: url(https://www.metropolisindia.com/newdata/images/whymetropolisbg.svg);
   background-size: cover;
   
}

.truehealth-Container-Whyus-container-inside h2{
    font-weight: 600;
    font-size: 28px;
    color: #35e753;
    padding-left: 30%;
    padding-top: 60px;
}

.truehealth-Container-Whyus-container-inside p{
       margin-left: 30%;
       font-size: 16px;
       margin-top: 30px;
       margin-right: 28%;
       color: #536a8d;
}
.truehealth-Container-labdiv-section-first{
    margin-top: 30px;
    padding-right: 20rem;
}

.truehealth-Container-labdiv-section-first img{

    margin-right: 30px;
    width: 130px;
    margin-bottom: 20px;
}
.truehealth-Container-labdiv-section-first h3{
    margin: 7%;
    font-size: small;
    margin-bottom: 40px;
}

.cards-tp-container{
    display: flex;
    background-color: hsl(0, 37%, 97%);
}

.cards-tp-container-sidebar-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    
}
.cards-tp-container-sidebar-left button{
    border: 5px solid white;
     background-color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    color: #7e96b9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cards-tp-container-sidebar-left img{
     width: 440px ;
     height: 240px;
     max-width: 100%;
}

.cards-tp-container-sidebar-middle{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 90px;
    
}
.cards-tp-container-sidebar-middle-top{
    background-color: #ffffff;
    border: 5px solid white;
    border-radius: 4px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cards-tp-container-sidebar-middle-top-1{
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
  margin-right: 20px;
}
.cards-tp-container-sidebar-middle-top-1 p{
padding-left: 53rem;
color: #536a8d;
font-size: 12px;
}

.cards-tp-container-sidebar-middle-top-2{
   display: flex;
   margin-top: 20px;
}

.cards-tp-container-sidebar-middle-top-2 img{
    width: 30px;
    margin-left: 30px;
}

.cards-tp-container-sidebar-middle-top-2 p{
    padding-left: 30px;
    font-size: 15px;
    padding-top: 10px;
}


.cards-tp-container-sidebar-middle-top-2-logo{
    display: flex;
}

.cards-tp-container-sidebar-middle-top-2-logo-2{
    display: flex;
    margin-left: 20rem;
}
.cards-tp-container-sidebar-middle-certify-section{
    display: flex;
    margin-top: 50px;
    padding-left: 10px;
}
.cards-tp-container-sidebar-middle-certify-1{
    display: flex;
    padding: 4px;
    background-color: #ffffff;
    border: 5px solid white;
    border-radius: 4px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cards-tp-container-sidebar-middle-certify-1 img{
    width: 40px;
    margin-right: 20px;
}
.cards-tp-container-sidebar-middle-certify-1 p{
  font-size: 13px;
  margin-top: 10px;
}
.cards-tp-container-sidebar-middle-certify{
    display: flex;
     padding: 4px;
    margin-left: 100px;
    background-color: #ffffff;
    border: 5px solid white;
    border-radius: 8px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cards-tp-container-sidebar-middle-certify img{
    width: 40px;
    margin-right: 20px;
}
.cards-tp-container-sidebar-middle-certify p{
    font-size: 13px;
    margin-top: 10px;
}
.cards-tp-container-sidebar-middle-overview{
    margin-top: 60px;
    background-color: #ffffff;
    border: 5px solid white;
    border-radius: 8px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cards-tp-container-sidebar-middle-overview h3{
    font-weight: 600;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
}
.cards-tp-container-sidebar-middle-overview p{
    font-size: 15px;
    margin-top: 20px;
    padding-left: 30px;
}
.cards-tp-container-sidebar-middle-overview ul{
    font-size: 15px;
    padding-left: 30px;
}
.cards-tp-container-sidebar-middle-overview button{
       font-size: 15px;
       margin-top: 20px;
       margin-left: 20px;
       margin-bottom: 30px;
       padding: 3px;
       background-color: #fffefe;
       color: #00984a;
       border-style: solid;
       border-color: #00984a;
       border-radius: 5px;
       width: 15rem
    
}
.cards-tp-container-sidebar-parameter{
    margin-top: 50px;
    padding-bottom: 40px;
     background-color: #ffffff;
    border: 5px solid white;
    border-radius: 8px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cards-tp-container-sidebar-middle-top-1 h3{
   font-weight: 600;
   font-size: 20px;
}
.cards-tp-container-sidebar-parameter-outside{
    display: flex;
}
.cards-tp-container-sidebar-parameter-inside{
    display: flex;
    margin-top: 30px;
}

.cards-tp-container-sidebar-parameter-inside-1{
    display: flex;
}
.cards-tp-container-sidebar-parameter-inside img{
    width: 40px;
    margin-left: 20px;
}
.cards-tp-container-sidebar-parameter-inside-1{
    font-size: 14px;
    margin-left: 30px;
    padding-top: 10px;
}

.cards-tp-container-sidebar-parameter-inside-first{
    margin-left: 40%;
    display: flex;
    margin-top: 30px;
}

.cards-tp-container-sidebar-parameter-inside-2{
    font-size: 14px;
    display: flex;
    margin-left: 30px;
    padding-top: 10px;
}
.cards-tp-container-sidebar-parameter-inside-first img{
    width: 40px;
    margin-left: 20px;
}
.cards-tp-container-sidebar-questions{
     margin-top: 50px;
     background-color: #ffffff;
    border: 5px solid white;
    border-radius: 8px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cards-tp-container-sidebar-questions{
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
}
.cards-tp-container-sidebar-reviews{
    margin-top: 40px;
    background-color: #ffffff;
   border: 5px solid white;
   border-radius: 8px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cards-tp-container-sidebar-reviews button{
    font-size: 15px;
    
    margin-left: 57rem;
    margin-bottom: 30px;
    padding: 3px;
    background-color: #fffefe;
    color: #00984a;
    border-style: solid;
    border-color: #00984a;
    border-radius: 5px;
    width: 15rem
}
.cards-tp-container-sidebar-reviews{
   font-size: 19px;
   font-weight: 400;
   padding-top: 0px;
   padding-left: 20px;


}

.cards-tp-container-sidebar-reviews-top{
    margin-top: 30px;
}

.cards-tp-container-sidebar-bottom{
    margin-top: 40px;
    background-color: #ffffff;
   border: 5px solid white;
   border-radius: 8px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cards-tp-container-sidebar-bottom h4{
  font-size: 20px;
  padding-left: 30px;
  padding-top: 40px;
}
.cards-tp-container-sidebar-bottom p{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
}
.cards-tp-container-sidebar-bottom-1{
   display: flex;
}
.cards-tp-container-sidebar-bottom img{
    margin-left: 50px;
}
.cards-tp-container-sidebar-bottom-1-inside{
    margin: 30px;

}




.cards-tp-container-sidebar-right-first-inside{
    border: 2px solid #00984a;
    margin-left: 30px;
    
    padding-left: 90px;
    padding-right: 90px;
    background-color: #ffffff;
    border: 3px solid white;
    border-radius: 8px;
    border-color: #31ac45;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 150px;
    width: 450px;
}

.cards-tp-container-sidebar-right-first-inside h3{
    font-size: 18px;
    padding-top: 20px;
    padding-left: 50px;
}
.cards-tp-container-sidebar-right-first-inside p{
     font-size: 18px;
     padding-left: 100px;
     padding-top: 20px;
     color: #1d9130;
}
.cards-tp-container-sidebar-right-first-inside button{
    color: white;
    background-color: hsl(192, 100%, 66%);
    border-radius: 5px;
    border-style: hidden;
    padding-top: 5px;
    
    padding-bottom: 5px;
    padding-left: 90px;
    padding-right: 80px;
    
    font-size: medium;
    
}
.cards-tp-container-sidebar-right-first :hover{
    transform: translateY(-10px);
    
}


.cards-tp-container-sidebar-right-second {
    background-color: #ffffff;
    border: 1px solid white;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 9px;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cards-tp-container-sidebar-right-second h6{
    font-size: 15px;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffefa1;
    
}
.cards-tp-container-sidebar-right-second p{
    align-items: center;
    justify-content: end;
    font-size: 13px;
    padding-left:40px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #536a8d;
}
.cards-tp-container-sidebar-right-second button{
    color: white;
    background-color: #00984a;
    border-radius: 5px;
    border-style: hidden;
    font-size: 15px;
    padding: 8px;
    margin-left: 140px;
    margin-bottom: 40px;
}
.cards-tp-container-sidebar-right-third{
    border: 1px solid white;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 9px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffffff;
}
.cards-tp-container-sidebar-right-third h6{
    font-size: 15px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffefa1;
}
.cards-tp-container-sidebar-right-third-inside img{
    filter: invert(45%) sepia(44%) saturate(2080%) hue-rotate(161deg) brightness(94%) contrast(103%);
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.cards-tp-container-sidebar-right-third-inside-card{
    display: flex;
    font-size: 12px;
    margin-top: 20px;
}
.cards-tp-container-sidebar-right-third-inside-card span{
   padding-left: 140px;
}
.cards-tp-container-sidebar-right-third-inside{
    overflow: scroll;
    height: 200px;
    overflow-x: hidden;
}
.cards-tp-container-sidebar-right-fourth{
    border: 1px solid white;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 9px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffffff;
}
.cards-tp-container-sidebar-right-fourth h6{
    font-size: 15px;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffefa1;
}
.About-container{
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;

}

.About-container-Aboutus-top{
    display: flex;
    margin-right: 600px;
    justify-content: space-between;
    align-items: center;
    
}
.About-container-Aboutus-top a{
   text-decoration: none;
   font-size: 13px;
   color:black;
}
.About-container-Aboutus-top-1{
    display: flex;
    margin-top: 30px;
}
.About-container-Aboutus-top-1 p{
    font-size: 15px;
    color: #536a8d;
    margin-right: 40px;
    padding-right: 40px;
    padding-top: 10px;
}
.About-image{
    width: 80%;
}
.About-container h1{
  font-weight: 600;
  font-size: 28px;
  color: #31ac45;
  margin-top: 50px;
}

.About-container-Aboutus-top-2{
    display: flex;
    margin-top: 70px;
    gap: 50px;
    
}

.About-container-Aboutus-top-2-inside {
    width: 40%;
}
.About-container-Aboutus-top-2-inside img{
    padding-left: 20px;
    padding-right: 30px;
    width: 150px;
    padding-top: 20px;
    
}
.About-container-Aboutus-top-2-inside h6{
     font-weight: 600;
     font-size: large;
     padding-left: 60px;
     margin-top: 30px;
     
}
.About-container-Aboutus-top-2-inside p{
    font-size: 14px;
    padding-left: 20px;
}
.About-container-Aboutus-top-2-para{
    
    font-size: 15px;
    padding-top: 70px;
    padding-right: 90px;
    padding-left: 60px;
}

.About-container-Aboutus-middle{
    display: flex;
    margin-top: 60px;
}
.About-container-Aboutus-middle-first{
   margin-right: 20px;
}
.About-container-Aboutus-middle-first h2{
 margin-top: 20px;
 font-weight: 600;
 margin-bottom: 30px;
}
.About-container-Aboutus-middle-first h6{
    font-size: 16px;
    font-weight: 800;
}
.About-container-Aboutus-middle-first p{
  margin-right: 130px;
  font-size: 14px;
  justify-content: start;
}
.About-container-Aboutus-middle-first span{
    font-size: 16px;
    
}

.About-container-Aboutus-middle-second{
    margin-right: 130px;
    margin-left: 30px;
    margin-top: 70px;
}
.About-container-Aboutus-middle-second img{
    border-radius: 20px;
}
.About-container-Aboutus-middle-second h2{
    font-weight: 600;
    margin-top: 20px;
    padding-left: 70px;
   
}
.About-container-Aboutus-middle-second p{
    font-size: 15px;
    padding-left: 30px;
}
.About-container-Aboutus-middle-second span{
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    padding-left: 20px;
}

.About-container-Aboutus-bottom{
    display: flex;
    margin-top: 60px;
}
.About-container-Aboutus-bottom-first{
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 40px;
}
.About-container-Aboutus-bottom-first img{
    border-radius: 20px;
    width: 60%;
    margin-left: 50px;
}
.About-container-Aboutus-bottom-first h2{
    font-weight: 600;
    margin-top: 30px;
    padding-left: 40px;
}
.About-container-Aboutus-bottom-first p{
    font-size: 16px;
    padding-left: 50px;
    margin-top: 20px;
}
.About-container-Aboutus-bottom-first span{
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    padding-right: 90px;
   
}
.About-container-Aboutus-bottom-second {
    margin-left: 40px;
    margin-right: 40px;
}

.About-container-Aboutus-bottom-second h2{
    font-weight: 600;
    margin-top: 10px;
}
.About-container-Aboutus-bottom-second p{
 font-size: 15px;
 margin-top: 15px;
 margin-right: 60px;
}
.About-container-Aboutus-bottom-second h6{
    font-size: 16px;
    font-weight: 800;
}
.About-container-Aboutus-bottom-second span{
    font-size: 16px;
}

.Doctor-container{
    background-color: rgb(228, 248, 246);
}
.Doctor-container h1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40rem;
    font-weight: 600;
} 

.Doctor-container-top{
    display: flex;
    margin-top: 80px;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-bottom: 120px;

}

.Doctor-container-top-inside h5{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.Doctor-container-top-inside p{
    font-size: 14px;
    margin-right: 60px;
}
.Doctor-container-top img{
    margin-top: 90px;
    margin-right: 60px;
}
.Doctor-container-middle-one{
    display: flex;
    margin-top: 200px;
    margin-left: 40rem;
    margin-right: 40rem;
    
}
.Doctor-container-middle-one-inside{
        margin-top: 30px;
}

.Doctor-container-middle-one-inside h2{
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}
.Doctor-container-middle-one-inside p{
    margin-left: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 30px;
}
.Doctor-container-middle-two-section{
    display: flex;
    margin-top: 30px;
}
.Doctor-container-middle-two {
   margin-left: 40rem;
   margin-right: 40rem;
   margin-top: 10rem;
}
.Doctor-container-middle-two h2{
    font-weight: 600;
    
}
.Doctor-container-middle-two-first{
    margin-top: 50px;
}

.Doctor-container-middle-two-first span{
    font-size: 14px;
    margin-top: 15px;
    color: black;
}
.Doctor-container-middle-two-first p{
    font-size: 14px;
    margin-top: 15px;
    color: #536a8d;
}
.Doctor-container-middle-two-second {
    margin-left: 140px;
    margin-top: 15px;
    margin-bottom: 60px;

}
.Doctor-container-middle-two-second p{
    font-size: 14px;
    margin-top: 10px;
    margin-right: 60px;
}

input{
    border: none;
    width: 104px;
    
    
}
select{
    border: none;
}
.Doctor-container-Bottom{
    display: flex;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top: 20rem;
}
.Doctor-container-Bottom img{
        width: 400px;
        margin-top: 20px;
}
.ContactUs-form {
    border: 1px solid #ccccccfd;
    margin-top: 0px;
    margin-left: 20rem;
    border-radius: 9px;
    width: 60%;
    height: 290px;
    background-color: #ffffff;
}
.ContactUs-form h3{
   font-weight: 600;
   font-size: 20px;
   margin-left: 40px;
   margin-top: 10px;
   
}

.Partner-container{
    background-color: rgb(228, 248, 246);
}
.Partner-container h1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40rem;
    font-weight: 600;
} 

.Partner-container-top{
    display: flex;
    margin-top: 80px;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-bottom: 120px;

}

.Partner-container-top-inside h5{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.Partner-container-top-inside p{
    font-size: 14px;
    margin-right: 150px;
}

.Doctor-form{
    font-size: 5px;
    padding: 10px;
}

.Healthrisk-container{
    background-color:  #f8f8f8;
    padding-bottom: 5rem;
}
.Healthrisk-container h2{
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 13rem;
    margin-right: 11rem;
    
    padding-left: 3rem;
    font-size: 22px;
}
.Healthrisk-container-inside{
    display: flex;
}
.Healthrisk-container-inside-card{
    display: flex;
    
    margin-left: 15rem;
    margin-top: 2rem;
    
    border: 1px solid black;
    padding: 20px;
    width: 45rem;
    background-color: #ffffff;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.Healthrisk-container-inside-card img{
    border: 1px solid green;
    border-radius: 12px;
    width: 100px;
    
}
.Healthrisk-container-inside-card h6{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    padding-left: 40px;
    
}

.Healthrisk-container-inside-card p{
    padding-left: 40px;
    font-size: 12px;
    
}
.Corporate-container-top{
    display: flex;
    margin-right: 40rem;
    margin-left: 40rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    gap: 30px;
}

.Corporate-container-top-1 h3{
    font-size: 22px;
    font-weight: 600;
}
.Corporate-container-top-1 p{
    font-size: 14px;
    margin-right: 70px;
    color: grey;
    margin-top: 10px;
  
}
.Corporate-container-top img{
    margin-top: 40px;
}

.Corporate-container-mid{
    display: flex;
    margin-right: 40rem;
    margin-left: 40rem;
    margin-top: 20rem;
    margin-bottom: 10rem;
    gap: 50px;
}
.Corporate-container-mid-1{
    margin-left: 60px;
}

.Corporate-container-mid-1 h3{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.Corporate-container-mid-1 p{
    font-size: 14px;
    
    color: grey;
    margin-top: 10px;
  
}

.Corporate-container-bottom{
    display: flex;
    margin-right: 40rem;
    margin-left: 40rem;
    margin-top: 15rem;
    margin-bottom: 10rem;
    gap: 60px;
}

.Corporate-container-bottom-1 h3{
    font-size: 22px;
    font-weight: 600;
}
.Corporate-container-bottom-1 p{
    font-size: 14px;
    margin-right: 70px;
    color: grey;
    margin-top: 10px;
  
}
.Corporate-container-bottom img{
    margin-top: 20px;
    width: 45rem;
}
.Form-doc {
    border-style: none !important;
}
